<div style="margin-bottom: 30px">
    <span style="font-weight: 700; color: blue;"><img src={{avatar}} width="50" height="50" style="border-radius: 50%"/></span> <span style="color: blue; font-size: 1.25rem">{{name}}</span>: <span style="font-style: italic; color: green; font-size: 1.25rem">{{text}}</span>
</div>